<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416149606507-v021srj7vua29jm62o1fhqpg293h1qud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416149606507-v021srj7vua29jm62o1fhqpg293h1qud</string>
	<key>API_KEY</key>
	<string>AIzaSyA2pKLleUFJ04iGUdWAbTWkD2jotwsjquk</string>
	<key>GCM_SENDER_ID</key>
	<string>416149606507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeno.MLinker2</string>
	<key>PROJECT_ID</key>
	<string>mlinker-52a78</string>
	<key>STORAGE_BUCKET</key>
	<string>mlinker-52a78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416149606507:ios:4aa2799f2ab6129eefe12e</string>
	<key>DATABASE_URL</key>
	<string>https://mlinker-52a78.firebaseio.com</string>
</dict>
</plist>